*
{
	box-sizing: border-box;
}
body
{
	margin: 0px;
	padding: 0px;
	font-family: "roboto", "sans-serif" !important;
}
a:hover, a:active, a:focus, a:visited
{
  outline: 0;
}
hr
{
	margin: 0px !important;
}
img
{
	height: 100% !important;
}

/*Navbar Starts Here*/
.navbar
{
	background-color: #5fb485;
	padding: 20px 10px 20px 10px;
}
.logo
{
	width: 15%;
	text-align: center;
}
.fa-home
{
	font-size: 28px;
}
.logo a
{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
	font-weight: 900;
	font-family: playfair;
	font-style: italic;
}
.logo a:hover
{
	text-decoration: none;
	color: #fff;
}
.search-form
{
	width: 70%;
}
.signup
{
	width: 15%;
}
/*Navbar Ends Here*/


/*Cart-Section Starts Here*/
.cart
{
	max-width: 1250px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
.cart-item
{
	width: 100%;
	padding: 10px 10px 10px 10px;
	display: flex;
	flex-direction: row;
}
.cart-left
{
	width: 58%;
	padding: 10px 10px 0px 20px;
	border: 1px solid #a2d3b8;
	border-radius: 10px;
	-webkit-animation: shadow 5s infinite;
	animation: shadow 5s infinite;
}
.cart-right
{
	width: 38%;
	margin-left: 4%;
	padding: 10px 10px 0px 20px;
	border: 1px solid #a2d3b8;
	border-radius: 10px;
	box-shadow: 10px 20px 20px #5fb485;
}
.pin-item
{
	display: flex;
	width: 100%;
	padding: 20px 30px 0px 30px;
}
.item
{
	display: inline-flex;
	width: 60%
}
.item p
{
	color: black;
	font-size: 20px;
	font-weight: 800;
	padding: 10px 0px 0px 30px;
}
.item p:hover
{
	color: #a2d3b8;
	text-decoration: none;	
}
.pincode p
{
	color: black;
	font-size: 20px;
	font-weight: 800;
	padding: 10px 0px 0px 30px;
}
.pincode p:hover
{
	color: #a2d3b8;
}
.fa-shopping-cart, .fa-shuttle-van, .fa-rupee-sign
{
	font-size: 25px;
	color: #5fb485;
}
.pincode
{
	display: inline-flex;
	width: 40%
}
.cart-content
{
	width: 100%;
	display: flex;
	padding: 10px 30px 10px 30px;
}
.item-img
{
	width: 30%;
	padding-left: 20px;
}
.cart-detail
{
	width: 70%;
	display: flex;
	flex-wrap: wrap;
}
.detail
{
	width: 50%;
	display: inline-flex;
	padding: 0px 5px 3px 25px;
}
.date
{
	width: 50%;
	display: inline-flex;
	font-size: 16px;
	font-weight: 500;
}
.desc
{
	color: #a2d3b8;
}
.seller
{
	color: #a2d3b8;
}
.pr-name a
{
	text-decoration: none;
	color: black;
	font-family: Roboto,Arial,sans-serif;
}
.pr-name a:hover
{
	text-decoration:none;
	color: #a2d3b8;
}
.item-price
{
	color: #a2d3b8;
}
.app-offers
{
	color: #388e3c;
}
/*Cart-Section Ends Here*/

/*Button STARTS HERE*/
.update-btn
{
	width: 100%;
	padding: 15px 5px 3px 25px;
	display: flex;
}
.update
{
	display: inline-flex;
	width: 30%;
}
.subtract
{
	width: 30%;
	border-radius: 50%;
	background-color: #fff;
    border: 1px solid #5fb485;
    color: #f16b08;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}
.input
{
	width: 40%;
	margin: 0 9px;
}
.input input
{
	width: 100%;
	text-align: center;
}
.add
{
	width: 30%;
	border-radius: 50%;
	background-color: #fff;
    border: 1px solid #5fb485;
    color: #f16b08;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
}
.save-rmv-btn
{
	width: 50%;
	display: inline-flex;
	padding-left: 2%;
}
.save span
{
	font-size: 18px;
	font-weight: 900;
	cursor: pointer;
	font-style: italic;
}
.save span:hover, .rmv span:hover
{
	color: #5fb485;
}
.rmv
{
	padding-left: 2%;
	font-size: 18px;
	font-weight: 900;
	cursor: pointer;
	font-style: italic;
}
/*Save and Update-REMOVE Button ENDS*/

/*Contine and Checkout Button STARTS*/
.button
{
	max-width: 100%;
	display: flex;
	float: right;
	padding: 10px 13px 10px 30px;
}
.shop
{
	text-transform: uppercase !important;
	margin-right: 12px;
	background-color: #c3e76a;
	padding: 10px 18px 10px 18px;
	font-size: 20px;
	cursor: pointer;
	font-family: playfair;
	font-style: italic;
	border: none;
}
button:focus
{
	outline: 0 !important;
}
.chckout
{
	text-transform: uppercase !important;
	margin-left: 10px;
	background-color: #f4af3c;
	padding: 10px 18px 10px 18px;
	font-size: 20px;
	font-family: playfair;
	font-style: italic;
	border: none;
	cursor: pointer;
}
.chckout:hover, .shop:hover
{
	box-shadow: 10px 20px 20px #5fb485;
}
/*Button ENDS HERE*/

/*Right Side Content STARTS HERE*/
.right-heading
{
	display: flex;
	width: 100%;
	padding: 20px 30px 15px 30px;
}
.right-heading span
{
	font-size: 20px;
	font-weight: 800;
	font-family: playfair;
	padding: 10px 0px 0px 30px;
}
.right-content
{
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 10px 30px 10px 30px;
}
.left-side-cntnt
{
	width: 50%;
	font-weight: 500;
	font-size: 16px;
}
.right-side-cntnt
{
	width: 50%;
	text-align: end;
}
.right-side-cntnt span
{
	font-size: 20px;
}
.right-content-discount
{
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 0px 30px 10px 30px;
	border-bottom: 1px dashed grey;
	border-width: 90%;
}
.total-amount
{
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 10px 30px 10px 30px;
}
.left-amount
{
	width: 50%;
	font-weight: 800;
	font-size: 18px;
}
.right-amount
{
	width: 50%;
    text-align: end;
    font-weight: 800;
    font-family: playfair;
    font-size: 18px;
}