@media screen and (min-width: 992px)
{
	.navbar-brand
	{
		display: none!important;
	}
}
@media screen and (max-width: 990px)
{
	.menu-sec
	{
		width: 100% !important;
	}
	.dropdown-menu
	{
		text-align: center !important;
	}
	#navbarTogglerDemo02 ul 
	{
    	width: 100% !important;
	}
}
@media screen and (min-width: 990px) and (max-width: 1199px)
{
	.menu-sec
	{
		width: 192vh !important;
		position: absolute !important;
		left: -150% !important;
	}
	#navbarTogglerDemo02 form 
	{
    	width: 25% !important;
    	margin-right: 3% !important;
	}
}
@media screen and (min-width: 1199px) and (max-width: 1400px)
{
	.menu-sec
	{
		width: 168vh;
		text-align: center !important;
		left: -150% !important;
		position: absolute !important;
	}
}

/*@media screen and (min-width: 600px) and (max-width: 800px) {
    .image-grid 
    {
        -ms-flex: 25%;
        flex: 25%;
        max-width: 25% !important;
    }
    .disc-three 
    {
    	max-width: 50%;
    	flex: 50%;
	}
}*/

/*Image Grid*/
@media screen and (max-width: 800px) {
    .image-grid .flex-img-grid
     {
        -ms-flex: 100%;
        flex: 100% !important;
        max-width: 100% !important;
    }
}
@media screen and (max-width: 1200px) {
    .disc-three .flex-img-grid
    {
    	-ms-flex: 100%;
        flex: 100% !important;
        max-width: 100% !important;
    }
    .image-grid
     {
        -ms-flex: 100%;
        flex: 100% !important;
        max-width: 100% !important;
    }
}
/*Why-Us Section*/
@media screen and (max-width: 1200px)
{
	.bckgrnd-row
	{
		display: none;
	}
	.why-us .container-fluid
	{
		background-color: #5fb485;
	}
	.why-us
	{
		padding-bottom: 0rem !important;
	}
	.padi-top
	{
		padding-top: 2rem !important;
	}
	.secn-two
	{
		margin-top: -20vh !important;
	}
}